:root {
    --black-1: #1a1a1a;
    --black-2: #1f1f1f;
    --black-3: #272727;
    --blue-color1: #1E90FF;
    --blue-color2: #46aefe;
    --blue-color3: #6330f9;
    --text-color: #333;
    --x-color1: #707070;
    --x-color2: #ddd;
    --x-color3: #eee;
    --while-color: #fff;
    --red-color: #FF4500;
    
    --sidebar-w: 200px;
    --tran-1: all .1s;
    --tran-2: all .2s;
    --tran-3: all .3s;
    --tran-5: all .5s;
    --height-header: 70px;
}
* {
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
    box-sizing: border-box;
    color: var(--text-color);
}
.wrap {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.container {max-width: 100%;}
