@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
*::before,
*::after {
    padding: 0;
    margin: 0;
}
:root {
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0, 0, 0, 0.15);
}
/* body {background-color: var(--black-3);} */
.wrapper {padding-bottom: 78px;}
.wrapper i {
    cursor: pointer;
}
.header {
    height: var(--height-header);
}
.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    font-size: 30px;
    color: var(--lightblack);
}

.top-bar i:first-child {
    margin-left: -7px;
}

.top-bar span {
    font-size: 24px;
    font-weight: bold;
    margin-left: -3px;
    /* color: var(--lightblack); */
    background: -webkit-linear-gradient(45deg,var(--blue-color2)0%, var(--blue-color3)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.img-area {
    /* height: 256px;
    margin-top: 25px;
    border-radius: 15px; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}
.img-area img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    /* box-shadow: 0px 6px 12px var(--lightbshadow); */
}
.song-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}
.song-details p {
    text-align: left;
    color: var(--white);
}
.song-details .name {
    width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}
.song-details .artist {
    font-size: 14px;
    opacity: 0.9;
}
.progress-area {
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}
.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    /* background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%); */
    background: linear-gradient(90deg, var(--blue-color2) 0%, var(--blue-color3) 100%);
}
.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.progress-area .song-timer {
    margin-top: 2px;
}

.song-timer span {
    font-size: 13px;
    color: var(--lightblack);
}
.w-control-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress-area,.controls,.img-area {
    width: 30%;
}
.w-controls {
    background-color: var(--black-1);
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.controls {
    padding: 12px 0;
}

.controls i {
    font-size: 28px;
    user-select: none;
    /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */
    background: linear-gradient(var(--blue-color2) 0%, var(--blue-color3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 43px;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}

.controls .play-pause {
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
    /* box-shadow: 0px 0px 5px var(--pink); */
    box-shadow: 0px 0px 5px var(--blue-color2);
}

.play-pause::before {
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */
    background: linear-gradient(var(--blue-color2) 0%, var(--blue-color3) 100%);
}

.play-pause i {
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.music-list {
    position: fixed;
    background: var(--white);
    width: 0;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 12;
    padding: 0 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.music-list.show {
    width: 30vw;
    opacity: 1;
    pointer-events: auto;
}
.music-list.show .header__row {opacity: 1;}
.header .header__row {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
    opacity: 0;
    transition: all linear .5s;
}
.header .header__row i {
    cursor: default;
    background: -webkit-linear-gradient(45deg,var(--blue-color2)0%, var(--blue-color3)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header .header__row span {margin-left: 5px;}
.header #close {
    font-size: 22px;
    color: var(--lightblack);
}
.music-list ul {
    margin: 0 0 78px 0;
    max-height: calc(100% - 78px - 25px);
    overflow: auto;
}
.music-list ul::-webkit-scrollbar {width: 0px;}
.music-list ul li {
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--lightblack);
    border-bottom: 1px solid #E5E5E5;
}
.music-list ul li:last-child {border-bottom: 0px;}
.music-list ul li .header__row span {
    display: block;
    width: 246px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
}
.music-list ul li .header__row p {opacity: 0.5;}
ul li .audio-duration {font-size: 16px;}
.playing .audio-duration {
    background: -webkit-linear-gradient(45deg,var(--blue-color2)0%, var(--blue-color3)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul li.playing {
    pointer-events: none;
}

/* banner */
.carousel-item>img {
    width: 100%;
    height: 50vh;
    object-fit: cover;

}
/* end */
.top-bar {
    height: var(--height-header);
}
.header__top {
    position: relative;
    border-bottom: 2px solid var(--x-color3);
    z-index: 11;
}
.top-bar-list {
    display: flex;
    align-items: center;
}
.top-bar-item {position: relative;margin-right: 10px;}
.top-bar-item:last-child {margin: 0;}
.icon-youtube {
    position: relative;
    background-color: var(--white);
    height: 15px;
    width: 15px;
}
.top-bar-item a {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    padding: 12px 8px;
    transition: all linear 1s;
}
.top-bar-item>i {
    padding: 0 5px;
    font-size: 20px;
}
/* .top-bar-item:nth-child(3)>i,
.top-bar-item:nth-child(5)>i {
    font-size: 20px;
} */
.top-bar-item:nth-child(1)>a:hover,
.top-bar-item:nth-child(2)>a:hover {
    background: -webkit-linear-gradient(45deg,var(--blue-color2)0%, var(--blue-color3)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* item music */
.main__music-item,
.main__music-list {
    display: flex;
    align-items: center;
}
.main__music-list {
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__music-item{
    position: relative;
    width: 30%;
    padding: 7px 12px;
    cursor: pointer;
    margin-top: 12px;
    background-color: var(--while-color);
    border-radius: 5px;
    box-shadow: 0px -5px 10px rgb(0 0 0 / 10%);
}
.main__music-item::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    background-color: var(--blue-color1);
    z-index: 0;
    transition: var(--tran-3);
}
.main__music-item:hover::after {
    width: 100%;
}
.top-bar-sub-menu {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    background-color: var(--while-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px -5px 10px rgb(0 0 0 / 10%);
    z-index: 5;
    overflow: hidden;
    transition: var(--tran-2);
}
.top-bar-sub-menu.active {
    width: 120px;
    padding: 5px 7px;
    height: 52px;
}
.top-bar-sub-menu i {
    margin: 0!important;
    padding-right: 5px;
}
.tb-sub-menu-item,
.tb-sub-menu-item>a {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tb-sub-menu-item>a,
.tb-sub-menu-item {
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.tb-sub-menu-item {padding: 3px 0;}
.tb-sub-menu-item i {font-size: 20px;}

.main__music-inf {
    position: relative;
    padding-left: 7px;
    z-index: 2;
}
.main__music-item>img {
    position: relative;
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
    z-index: 2;
}
.main__music-inf>p {color: var(--text-color);}
.main__music-name {font-size: 16px;}
.main__music-author {
    opacity: .7;
    font-size: 12px;
}


.top-bar-icon {display: none;}
.line {
    width: 30px;
    height: 3px;
    margin: 7px 0;
    border-radius: 3px;
    background-color: var(--black-1);
}
@media screen and (max-width:1200px) {
    .top-bar {padding: 0 12px;}

}
@media screen and (max-width:640px) {
    /* .main__music{display: none;} */
    .main__music {
        max-height: calc(100vh - 550px - 80px);
        overflow: auto;
    }
    .top-bar-icon{display: block;}
    /* head */
    .top-bar-menu {
        position: absolute;
        height: 0;
        top: calc(var(--height-header) + 1px);
        left: 0;
        right: 0;
        background-color: var(--while-color);
        z-index: 11;
        overflow: hidden;
        transition: all linear .1s;
    }
    .top-bar-menu.active {
        height: 92px;
    }
    .top-bar-menu.active .top-bar-item>a {
        opacity: 1;
    }
    .top-bar-list {
        flex-direction: column;
    }
    .top-bar-item{
        width: 100%;
        padding: 0 7px;
    }
    .top-bar-item>a {
        opacity: 0;
        text-align: center;
        border-bottom: 1px solid var(--x-color3);
        transition: all linear .1s;
    }
    .top-bar-item:nth-child(3),
    .top-bar-item:nth-child(4) {display: none;}


    .main__music-list,
    .w-control-main,
    .img-area{
        flex-direction: column;
    }
    .w-control-main {
        /* height: calc(100vh - var(--height-header)); */
        height: 550px;
        padding: 24px 12px 0;
        justify-content: unset;
    }
    .img-area>img {
        width: 280px;
        height: 280px;
    }
    .main__music-item {width: 90%;}
    .controls, .img-area {
        position: absolute;
        width: 100%;
    }
    .song-details {padding-top: 50px;}
    .song-details>p {text-align: center;}
    .img-area {
        order: 1;
        bottom: 130px;
    }
    .progress-area {position: absolute;order: 2;width: 80%;bottom: 90px;}
    .controls {order: 3;bottom: 0;left: 0;right: 0;padding: 12px;justify-content: space-evenly;}
    .music-list {
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        top: unset;
        left: unset;
        right: unset;
        z-index: 12;
        bottom: -50%;
        /* bottom: 200px; */
        /* height: 0; */
        width: 100%!important;
        height: 70vh;
        transition: all linear .2s;
    }
    .music-list.show {
        bottom: 0;
    }
    .music-list ul {
        margin: 10px 0 0;
        max-height: calc(100% - 25px);
    }
}
/* @media screen and (max-width:420px) {
    .img-area>img {
        width: 65%;
        height: 65%;
    }
}
@media screen and (max-width:380px) {
    .img-area>img {
        width: 70%;
        height: 70%;
    }
} */